# ignore build folders
.gradle
bin
build
target
out
classes

# ignore eclipse project files
.classpath
.project
.settings

# ignore idea project files
.idea
*.iml
*.ipr
*.iws

# ignore project runtime files
logs

# ignore EKMC folders
.ekmc
.DS_Store
